<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    </style>
  </head>
  <body>
    <header>
        <main>
            <div class="image"></div>
            <section class="welcome">
                <h1 class="title">Walletly</h1>
                <p class="subtitle">Seja bem vindo a sua nova vida financeira.</p>
            </section>
        </main>
    </header>
  </body>
</html>
